<h3>Edit Lesson</h3>
<div class="row">
    <form action="/lessons/{{lesson._id}}?_method=PUT" method="POST" class="col s12">
    {{!-- <input type="hidden" name="_method" value="PUT"> --}}
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value={{lesson.title}}>
                <label for="title">Lesson</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    {{#select lesson.status}}
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>

                    {{/select}}
                </select>
                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Tell Us Your Lesson:</h5>
                <textarea id="body" name="body">{{lesson.body}}</textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/feed" class="btn orange">Cancel</a>
        </div>
    </form>
</div>